.Control{
width: 70%;
margin: 0 auto;
height: 50px;
background: #8a8a8a;
margin-bottom: 10px;
}

.ingredientName{
    font-size: 30px;
    margin-left: 10px;
    color:#fff;
}

.Button{
color:#fff;
float: right;
font-size: 30px;
margin-left: 10px;
margin-right: 10px;
cursor: pointer;
}